# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out

# Production
build

# Misc
.DS_Store
*.log
*.swp
*.swo
*~

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Environment
.env
.env.local
.env.*.local
